body {
    font-family: Arial, sans-serif;
    background-color: #eef3f8;
    margin: 0;
    padding: 40px;
}

.info-git {
    max-width: 600px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
